.ledger {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6% 0;

    &__title {
        color: #FFFFFF;
        padding-left: 10%;
    }
    
    &__row {
        outline: 1px dotted #e3e3e3;
        padding: 2% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__content {
        line-height: 20px;
        font-size: 20px;
        word-wrap: break-word;
        color: black;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        padding: 2%;
        min-height: 130px;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
    }

    &__list {
        background-color: grey;
        &::-webkit-scrollbar {
            display:none;
        }
    }
} 